body {
  font-family: 'Merriweather', serif;
  color: rgba(17, 17, 17, 0.9);
}

a {
  text-decoration: none;
  color: unset;
}

h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}

header {
  height: 10vh;
}

nav a {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 4rem;
  padding: 2rem;
  color: #102542;
}

.intro {
  min-height: 12vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.intro h2 {
  font-size: 1.6rem;
  margin: 1rem auto;
}

.avatar {
  width: 25rem;
  height: 25rem;
  background: url("./images/bighead.svg") no-repeat;
  display: inline-block;
  transition: all 1s;
  margin-top: -5vh;
  filter: drop-shadow(2px 4px 8px #585858);
}

/* Source for avatar flip on hover:
   https://www.tutorialrepublic.com/faq/how-to-change-image-on-hover-with-css.php */

div.avatar:hover {
  background: url("./images/bighead_no_mask.svg") no-repeat;
}

p.tagLine {
  font-size: 3rem;
  color: #102542;
}

.position {
  color: rgb(63, 63, 63);
}

.portfolio {
  margin: 10vh auto 4vh auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.portfolio>div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: rgba(183, 211, 242, 0.4);
}

.portfolio>div:nth-child(even) {
  flex-direction: row-reverse;
  background-color: rgba(44, 246, 179, 0.2);
}

.portfolio a {
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.portfolio a:hover {
  transform: scale(1.05);
  transition: all .2s;
}

.portfolio a.demoBtn {
  border: 1px solid #2CF6B3;
  margin: 1rem 0;
  width: 10rem;
  text-align: center;
}

.portfolio a.demoBtn:hover {
  background-color: #2CF6B3;
  color: #102542;
  transform: scale(1.1);
}

.portfolio a.repoBtn {
  border: 1px solid #CE2D4F;
  width: 10rem;
  text-align: center;
}

.portfolio a.repoBtn:hover {
  background-color: #CE2D4F;
  color: whitesmoke;
  transform: scale(1.1);
}

.portfolio>div>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio img {
  width: 45rem;
  height: auto;
  border-radius: .5rem;
}

.portfolio img:hover {
  filter: brightness(.8) contrast(1.2);
}

.portfolio h3 {
  font-size: 1.5rem;
  color: #102542;
}

.contact {
  width: 100%;
  background-color: rgba(183, 211, 242, 0.4);
  padding: 2rem;
  font-family: 'Lato', sans-serif;
}

.contact input {
  font-family: 'Merriweather', serif;
}

.getInTouch {
  width: 80%;
  margin: 2rem auto;
}

.sendMsg {
  width: 80%;
  margin: 2rem auto;
}

.hidden {
  display: none;
}

label span {
  color: #767676ca
}

.contact textarea {
  height: 15rem;
  width: 45vw;
  font-family: 'Merriweather', serif;
  padding: .5rem 1rem;
}

.basicInfo {
  display: flex;
  justify-content: space-between;
  width: 45vw;
  margin-bottom: 2rem;
}

.basicInfo>p {
  display: flex;
  flex-direction: column;
}

.basicInfo input {
  padding: .5rem 1rem;
  width: 15vw;
}

.basicInfo input[type=email] {
  width: 25vw;
}

.contact button {
  background-color: #102542;
  color: whitesmoke;
  border: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.contact button:hover {
  background-color: rgb(16, 37, 66, .95);
  transform: scale(1.05);
  transition: all .2s;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #102542;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  text-align: center;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer div a {
  margin: 0 1rem 1rem 1rem;
}

/* Media queries start here */

@media (max-width:600px) {
  nav a {
    padding-left: 8vw;
  }

  .intro {
    margin-top: 8vh;
  }

  .avatar {
    margin-top: -10vh;
    width: 100vw;
  }

  .portfolio {
    width: 90vw;
    margin-bottom: 2vh;
  }

  .portfolio a {
    padding: 1rem;
  }

  .portfolio>div,
  .portfolio>div:nth-child(even) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 0;
  }

  .portfolio a.demoBtn,
  .portfolio a.repoBtn,
  .portfolio div h3 {
    align-self: center;
  }

  .portfolio a.demoBtn {
    background-color: #2CF6B3;
    color: #102542;
  }

  .contact {
    padding: 1rem;
  }

  .getInTouch,
  .sendMsg,
  .basicInfo {
    width: 90%;
  }

  .basicInfo {
    flex-direction: column;
    margin-bottom: 0;
  }

  .basicInfo>p {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .basicInfo input[type=email],
  .basicInfo input[type=text] {
    width: 80vw;
  }

  .contact textarea {
    height: 10rem;
    width: 80vw;
  }
}